{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "printWidth": 120,
  "jsx-single-quote": true,
  "bracketSpacing": true,
  "arrowParens": "always",
  "bracketSameLine": true,
  "singleAttributePerLine": true
}